<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>1dv612</title>
    <!-- Use when localhost-->
    <!-- <link rel="stylesheet" type="text/css" href="/static/css/style.css">-->

    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body class="col m4 l3 white">
    <h1>1dv612 - Examination</h1>
    {{> nav}}
    {{> flash}}
    {{{ body }}}
    <script src='/socket.io/socket.io.js'></script>
</body>
</html>
